mat-spinner{
  height: 40px !important;
  margin: 1em auto;
}
mat-header-cell{
  justify-content: center;
  padding: 0 !important;
}
mat-cell{
  justify-content: center;
  padding: 0 !important;
}
.action-btn{
  gap: 20px;
}
